﻿@Model List<KeyValuePair<string, string>>
@{
    ViewData["Title"] = "ErrorCodes";
}

<h1>ErrorCodes</h1>


<table>
    @foreach (KeyValuePair<string, string> item in Model)
    {
    <tr>
        <td>@item.Key</td>
        <td>@item.Value</td>
    </tr>
    }

</table>